* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}

.Registeration{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #53565A;
  width: 100%;

}

.List{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 860px;
  height: 510px;
  z-index: 2;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}

.Add{
  z-index: 2;
  margin-top: 20px;
}

.Error{
  color: red;
  padding-top: 7px;
}

.Icon{
  padding-top: 1px;
  padding-right: 3px;
  padding-left: 2px;
}

.Button{
  z-index: 3;
  right: 0;
  margin-left: 30px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}

.ButtonExit{
  z-index: 3;
  margin-right: 30px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}

.ButtonExit:hover{
  background-image: linear-gradient(to left, #FFCE00 50%, #FFCE00  50%, #FE4880);
  cursor: pointer;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.10);
}

.ButtonExit:active{
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00  50%, #FE4880);
  color: white;
}

.Exit{
  position: absolute;
  left: 0;
}

.Button:hover{
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00  50%, #FE4880);
  cursor: pointer;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.10);
}

.Button:active{
  background-image: linear-gradient(to left, #FFCE00 50%, #FFCE00  50%, #FE4880);
  color: white;
}



form {
  display: block;
  position: relative;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}

form .form-inner{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

form .form-inner .h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 60px;
}

form .form-inner .form-group{
  display: block;
  color: #006606;
  width: 300px;
  margin-top: 15px;
}

.form-inner .form-group label{
  display: block;
  color: #006606;
  font-size: 12px;
  margin-bottom: 5px;
  transition:  0.1;
}

.form-inner .form-group:focus-within label{
  color: #FFCE00;
}

form .form-inner .form-group input{
  display: flex;
  width: 100%;
  padding: 5px;
  /*padding-left: 10px;*/
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.1s;
  height: 30px;
  width: 100%;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 2.0);

}

form .form-inner input[type="submit"]{
  display: inline-block;
  padding: 100px, 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00  50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.1s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  height: 30px;
  width: 100px;
  margin-top: 15px;
}

form .form-inner input[type="submit"]:hover{
  background-position: 100% 0%;
}

.back{
  width: 100px;
}